
run = "npm run dev"
modules = ["nodejs-20:v8-20230920-bd784b9", "postgresql-16"]

[deployment]
build = ["npm", "install"]
run = ["npm", "run", "dev"]

[nix]
channel = "stable-23_11"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 40099944

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
