modules = ["postgresql-16"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 40099944

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
